<div class="card">
    <img src="{{book.poster}}" class="card-img-top" alt="...">
    <div class="card-body" *ngIf="!expanded" >
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.synopsis.substring(1, 150)}}</p>
        <a href="#" class="btn btn-primary" (click)="expandOrShrink()">More</a>
    </div>

    <div class="card-body" *ngIf="expanded" >
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text"><strong>Author: </strong>{{book.author}}</p>
            <p class="card-text"><strong>ISBN: </strong> {{book.isbn}}</p>
            <p class="card-text">{{book.synopsis}}</p>
            <a href="#" class="btn btn-danger" (click)="expandOrShrink()">Less</a>
    </div>
</div>