<div class="card">
    <img src="{{book.poster}}" class="card-img-top" alt="...">
    <div class="card-body" *ngIf="!expanded" >
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.synopsis.substring(1, 150)}}</p>
        <button class="btn btn-primary" (click)="expandOrShrink()">More</button>
    </div>

    <div class="card-body" *ngIf="expanded" >
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text"><strong>Author: </strong>{{book.author}}</p>
            <p class="card-text"><strong>ISBN: </strong> {{book.isbn}}</p>
            <p class="card-text">{{book.synopsis}}</p>
            <button  class="btn btn-secondary" (click)="expandOrShrink()">Less</button>&nbsp;
            <button  class="btn btn-success" routerLink="/books/{{book.id}}/edit">Edit</button>&nbsp;
            <button  class="btn btn-danger" (click)="delete()">Delete</button>&nbsp;
    </div>
</div>