<a routerLink="/books">Go Back</a>

<form (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="btitle" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" id="btitle" [(ngModel)]="book.title">
      </div>
    </div>
    <div class="form-group row">
      <label for="buthor" class="col-sm-2 col-form-label">Author</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="author" id="bauthor" [(ngModel)]="book.author">
      </div>
    </div>
    <div class="form-group row">
      <label for="bposter" class="col-sm-2 col-form-label">Poster</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="poster" id="bposter" [(ngModel)]="book.poster" >
      </div>
    </div>
    <div class="form-group row">
      <label for="bisbn" class="col-sm-2 col-form-label">ISBN</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="isbn" id="bisbn"  [(ngModel)]="book.isbn">
      </div>
    </div>
    <div class="form-group row">
      <label for="bsynopsis" class="col-sm-2 col-form-label">Synopsis</label>
      <div class="col-sm-10">
        <textarea name="synopsis" id="bsynopsis" cols="30" rows="10" class="form-control" [(ngModel)]="book.synopsis"></textarea>
      </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
          <button class="btn btn-secondary" routerLink="/books">Cancel</button>
        </div>
      </div>
  </form>